.reset-pass-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25%;
  transform: translate(-50%, -50%);
  border: 1px solid #b2bec3;
  padding: 2em 4em;
  border-radius: 0.25em;
  .reset-pass-form,
  .new-password-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 20%;
    h4 {
      margin-bottom: 1em;
    }
    span {
      text-align: start;
      margin-bottom: 1em;
    }
    input {
      width: 100%;
      margin: 12px 0;
      font-weight: 600;
      padding: 8px;
      background-color: transparent;
      outline: none;
      border: none;
      border-bottom: 1px solid #b2bec3;
      transition: border 0.5s;
      &::placeholder {
        color: #b2bec3;
      }
      &:focus {
        border-bottom: 1px solid #353b48;
        transition: border 0.5s;
      }
    }
    button {
      border: 0.5px solid #ececec;
      margin: 1em 0 !important;
    }
    .error {
      position: absolute;
      top: 50%;
      right: 3%;
      transform: translateY(-50%);
      font-size: 20px;
      font-weight: bold;
      color: #d63031;
      cursor: default;
    }
  }
}
