.nav {
  position: fixed;
  top: 0;
  width: calc(100% + 80px);
  margin-left: -40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  z-index: 1000;
  transition: 0.4s all;
  a {
    text-decoration: none;
  }
}

.menu-links ul li {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
  transition: 1s all;
  a {
    &.active {
      // color: #e6c300;
      color: #4cc8ff;
    }
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 3px;
      top: 100%;
      left: 0;
      // background: #ffd700;
      background: #4cc8ff;
      transition: transform 0.5s;
      transform: scaleX(0);
      transform-origin: right;
    }
    &:hover {
      color: #7a8586;
      &::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
  img {
    width: 1.4em;
    position: relative;
    top: -0.1em;
  }
}

ul {
  list-style-type: none;
  margin: 0;
}
